.App {
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  margin: 0 auto;
  position: relative;
}

.nav{
  height: 10vh;
  background-color: #3e4450;
  display: flex;
}

.navText{
  color: white;
  margin-left: 2vh;
  font-size: calc(12px + 2vh);
}

.logo{
  height: 9vh;
  margin-left: 1vw;
}

.map{
  background-color: white;
  height: 80%;
  width: 80%;
  border-radius: 20px;
  margin-left: 10%;
  margin-top: 2%;
}

